a {
    text-decoration: none;
}

a:link{
    color: black;
}

ul {
    list-style-type: none;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8.5em;
    padding-bottom: 2em;
}

.search {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}

.searchbutton {
    display: flex;
    justify-content: center;
}

.navbar1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.item{
    display: flex;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 1%;
}

.navbar2 {
    padding-top: 26.5%;
    padding-left: 1%;
    padding-bottom: 0.5%;
    
    
}

.navbar3 {
    display: flex;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;

}

.item2 {
    display: flex;
    padding-left: 0.5%;
    padding-right: 0.5%;

}

.push {
    display: flex;
    margin-left: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
}